*.suo
*.csproj.user
*.vcxproj.user
*.ReSharper.user
*.DotSettings.user
_ReSharper.*
*.sdf
*.opensdf
*.i.cs
*.cache
*.tlog
*.log
*.obj
*.pdb
*.nvuser
*.exp
*.orig
*.psess
*.vspx
*.shfbproj_*
*.dotCover
*.sln.ide
Debug
Release
Win32Debug
Win32Release
Temp/
Bin/
ipch/
obj/
